@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

.prose pre {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}

.prose code {
  background-color: #f1f5f9;
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
  font-size: 0.875em;
}

@keyframes showContent {
  from {
    transform: translateY(20px);
    filter: blur(5px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .aspect-square {
    aspect-ratio: 1 / 1;
  }
}